<!DOCTYPE html>
<html>
<head>
  <%- include("partials/header.ejs")%>
</head>

<body>
      <!--Search result-->
  <div class="parallax">
    <div class="container-fluid py-5 content">
        <div class="container mt-5">
            <% if (locals.moreDetails) { %>
              <h1 class="text-center More-Details">More Details:</h1>
              <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalTour">
                <div class="modal-dialog" role="document">
                  <div class="modal-content rounded-4 shadow">
                    <div class="modal-body p-5">
                      <h2 class="fw-bold mb-0"><%=moreDetails.first_name %> <%= moreDetails.last_name %></h2>
              
                      <ul class="d-grid gap-4 my-5 list-unstyled small">
                        <!-- point one  -->
                        <li class="d-flex gap-4">
                            <i class="bi bi-chevron-contract text-body-secondary flex-shrink-0" style="font-size: 48px;"></i>
                          <div>
                            <h5 class="mb-0">Position: <%= moreDetails.position %></h5>
                          </div>
                        </li>
                        <!-- point two  -->
                        <li class="d-flex gap-4">
                          <i class="bi bi-activity text-body-secondary flex-shrink-0" style="font-size: 48px;"></i>
                          <div>
                              <h5 class="mb-0">Height: <%= moreDetails.height %></h5>
                          </div>
                      </li>
                        <!-- point three  -->
                        <li class="d-flex gap-4">
                            <i class="bi bi-alt text-body-secondary flex-shrink-0" style="font-size: 48px;"></i>
                          <div>
                            <h5 class="mb-0">Weight: <%= moreDetails.weight %> pounds <%=moreDetails.weight_kg%> </h5>
                          </div>
                        </li>
                        <!-- point four  -->
                        <li class="d-flex gap-4">
                            <i class="bi bi-chevron-expand text-body-secondary flex-shrink-0" style="font-size: 48px;"></i>
                          <div>
                            <h5 class="mb-0">Draft Year: <%= moreDetails.draft_year %></h5>
                          </div>
                        </li>
                        <!-- point five  -->
                        <li class="d-flex gap-4">
                            <i class="bi bi-hash text-body-secondary flex-shrink-0" style="font-size: 48px;"></i>
                          <div>
                            <h5 class="mb-0">Draft Round: <%= moreDetails.draft_round %></h5>
                          </div>
                        </li>
                        <!-- point six  -->
                        <li class="d-flex gap-4">
                            <i class="bi bi-chevron-bar-contract text-body-secondary flex-shrink-0 " style="font-size: 48px;"></i>
                          <div>
                            <h5 class="mb-0">Draft Number: <%= moreDetails.draft_number %></h5>
                          </div>
                        </li>
                      </ul>
                      <!-- 27.05.24 add on back to search results -->
                       <a href="/" class="btn btn-lg btn-outline-white mt-5 w-100">Great, thanks!</a>
                      <!-- <li class="btn btn-lg btn-outline-white mt-5 w-100"><%=locals.moreDetails.team.full_name%></li> -->
                    </div>
                  </div>
                </div>
              </div>
          <% } else if (error) { %>
              <h1><%= error %></h1>
          <% } else { %>
              <h1>No results found.</h1>
          <% } %>
        
        </div>
      </div>
    </div>
        <!-- footer -->
        <%- include("partials/footer.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
          //height conveter
          function convertHeightToCm(height) {
                const [feet,inches] = height.split(`-`).map(Number);   //用height.split 分開原有的資料.map(Number) 設定為數字
                const cm = (feet*30.48)+(inches*2.54) 
                return cm.toFixed(0); 
            }
          // weight converter 
          function convertWeightToKg(pounds) {
                const kg = pounds * 0.453592; 
                    return kg.toFixed(0); 
                } 
        </script>
        
</body>
</html>